het-examples/camel-ftp/src/main/resources/xml/orderTarget.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Address" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Ellen Adams"/>
                    <xs:enumeration value="Tai Yee"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Street">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="123 Maple Street"/>
                    <xs:enumeration value="8 Oak Avenue"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="City">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Mill Valley"/>
                    <xs:enumeration value="Old Town"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="State">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="CA"/>
                    <xs:enumeration value="PA"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Zip">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="10999"/>
                    <xs:enumeration value="95819"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="Country"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Type" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="DeliveryNotes"/>
        <xs:element name="Items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ProductName">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Lawnmower"/>
                          <xs:enumeration value="Baby Monitor"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Quantity">
                      <xs:simpleType>
                        <xs:restriction base="xs:byte">
                          <xs:enumeration value="1"/>
                          <xs:enumeration value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="USPrice">
                      <xs:simpleType>
                        <xs:restriction base="xs:float">
                          <xs:enumeration value="148.95"/>
                          <xs:enumeration value="39.98"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:string" name="Comment" minOccurs="0"/>
                    <xs:element type="xs:date" name="ShipDate" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="PartNumber" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="PurchaseOrderNumber"/>
      <xs:attribute type="xs:date" name="OrderDate"/>
    </xs:complexType>
  </xs:element>
</xs:schema>